<!doctype html>

<html>

    <head>
        {% block title %}Ratings{% endblock %}
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}

    </head>

    <body>
      
      <hr>

      {% block content %} put your content here {% endblock %}

    </body>

</html>