{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<h1>The Judgemental Eye</h1>

<h2>Movies</h2>
<p><a href="/movies">View all movies</a></p>

<h2>Users</h2>
<p><a href="/users">View all users</a></p>

{% if 'active_session' in session %}
    <h3>Logout</h3>
    <p><a href="/logout">Click here to log out</a></p>
{% else %}
    <h3>Login</h3>
    <p><a href="/login">Click here to log in</a></p>
{% endif %}


<h4>Register</h4>
<p><a href="/register">Register Here</a></p>

{% endblock %}

